doctype html
html
    head
        meta(charset='utf-8')
        title= title
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='css/normalize.min.css')
        link(rel='stylesheet', href='css/main.css')
        script(src='js/vendor/modernizr-2.8.3.min.js')
    body(ng-app='app')
        #mainLoader(ng-if="loading")
            div(ng-if="loadingMessage") {{loadingMessage}}
            div(ng-if="!loadingMessage") Loading...

        .navbar#nav
            .container.text-left
                a(href='#')
                    img(src="/img/logo.png", alt="Super Page Logo")

        div.container#main
            block content

        footer#footer
            .container.text-right
                a#up(href="#", ng-click="up()")
                    img(src="/img/up.png")

        script(src='lib/angular/angular.min.js')
        script(src='lib/angular-ui-router/release/angular-ui-router.min.js')
        script(src='js/app.js')
