<div class="clearfix">

    <div id="cart">
        <div class="text-left">
            <h2 class="title">Checkout</h2>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="product in items">
                    <td>{{product.name}}</td>
                    <td>{{product.price}}$</td>
                </tr>
                <tr>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                </tr>
            </tbody>
        </table>

    </div>

</div>
