<!-- Product list -->
<table id="products">
    <thead>
        <tr>
            <th>Name</th>
            <th colspan="2">Price</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="product in products">
            <td>{{product.name}}</td>
            <td>{{product.price}}$</td>
            <td class="text-center"><a href="#" ng-click="add(product)" class="add-button" ng-class-even="'light'">&#43;</a></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
    </tbody>
</table>

<!-- Cart -->
<div id="cart">
    <div class="text-left">
        <h2 class="title">Checkout</h2>
    </div>
    <table>
        <thead>
            <tr>
                <th colspan="2">Name</th>
                <th colspan="2" class="no-padding-left">Price</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="product in cart.items">
                <td colspan="2">{{product.name}} ({{product.quantity}})</td>
                <td colspan="2">
                    <div ng-if="product.discountApplied">
                        {{product.price}}$
                    </div>
                    <div ng-if="!product.discountApplied">{{product.price}}$</div>
                </td>
            </tr>
            <tr>
                <td></td>
                <td class="text-right" colspan="1">
                    <div>Total:</div>
                </td>
                <td colspan="1">
                    <div>{{cart.total}}$</div>
                </td>
                <td></td>
            </tr>
        </tbody>
    </table>

</div>
