<table id="products">
    <thead>
        <tr>
            <th>Name</th>
            <th colspan="2">Price</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="product in items">
            <td>{{product.name}}</td>
            <td>{{product.price}}$</td>
            <td class="text-center"><a href="#" ng-click="add(product.code)" class="add-button" ng-class-even="'light'">&#43;</a></td>
        </tr>
        <tr>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
    </tbody>
</table>
